<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
 {{>headers}}
     <p>This site was created by Ritul Malviya.it uses data from mapbox.com and darksky.net</p>
        <img class="potrait" src="/img/me.jpg" alt="my">
        </div>
       
        <p>{{>footer}}</p>
    </body>
</html>