<!DOCTYPE html>
<html>
    <head>
         <link rel="icon" href="/img/weather.png">
        <title>Contact Details</title>
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
{{>headers}}
        </div>
        
        <div id="my">
            <p>This site uses data from mapbox.com and darksky.net</p>
            <h3>!For Any Query Please Contact!</h3>
            <h2>PROFILE</h2>
            <img src="/img/me.jpg" alt="me" class="potrait">
            <p>{{>footer}}</p>
            <p>Profession : Student(B.Tech 3rd Year)</p><br>
            <p>Collage : LNCT(Bhopal)</p><br>
            <p>HomeTown : Vidisha</p><br>
            <p>Email Id : ritulmalviya2612@gmail.com</p><br>
            <p>Contact No : 8236862341</p>
        </div>
    </body>
</html>