<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="../../public/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>headers}}
        {{!-- <form>
            <input placeholder="Location">
            <button id="btn">Search</button>
        </form> --}}


			<div class="hero" data-bg-image="images/banner.png" style="background-image: url('img/banner.png');">
				<div class="container">
					<form action="#" class="find-location">
						<input type="text" placeholder="Find your location...">
						<input type="submit" value="Find">
					</form>

				</div>
			</div>
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day" id='mon'>Monday</div>
								<div class="date" id='date'>6 Oct</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="location" id='loc'>Loading...</div>
								<div class="degree">
									<div class="num"><span id='day-1'></span><sup>o</sup>C</div>
									<div class="forecast-icon">
										<img src="img/icons/icon-1.svg" alt="" width=90>
									</div>	
								</div>
								<span><img src="img/icon-umberella.png" alt=""><span id='rain'>20</span>%</span>
								<span><img src="img/icon-wind.png" alt=""><span id='wind-1'>18</span>km/h</span>
								<span><img src="img/icon-compass.png" alt="">East</span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id='tue'>Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="img/icons/icon-3.svg" alt="" width=48>
								</div>
								<div class="degree"><span id='day-2'></span><sup>o</sup>C</div>
								<small><span id='day2'></span><sup>o</sup>C</small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id='wed'>Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="img/icons/icon-5.svg" alt="" width=48>
								</div>
								<div class="degree"><span id='day-3'></span><sup>o</sup>C</div>
								<small><span id='day3'></span><sup>o</sup>C</small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id='thu'>Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="img/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree"><span id='day-4'></span><sup>o</sup>C</div>
								<small><span id='day4'></span><sup>o</sup>C</small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id='fri'>Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="img/icons/icon-12.svg" alt="" width=48>
								</div>
								<div class="degree"><span id='day-5'></span><sup>o</sup>C</div>
								<small><span id='day5'></span><sup>o</sup>C</small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id='sat'>Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="img/icons/icon-13.svg" alt="" width=48>
								</div>
								<div class="degree"><span id='day-6'></span><sup>o</sup>C</div>
								<small><span id='day6'></span><sup>o</sup>C</small>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id='sun'>Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img src="img/icons/icon-14.svg" alt="" width=48>
								</div>
								<div class="degree"><span id='day-7'></span><sup>o</sup>C</div>
								<small><span id='day7'></span><sup>o</sup>C</small>
							</div>
						</div>
					</div>
				</div>
			</div>
 {{!-- <p id="message-1"></p>
        <p id="message-2"></p> --}}
        <br>
        </div>
        <script src="/js/app.js"></script>
    </body>
</html>

