<!DOCTYPE html>
<html>
<head>
      
        <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Compass Starter by Ariona, Rian</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="../../public/css/styles.css">

        <title>Weather</title>
        <link rel="icon" href="/img/weather.png">
            <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
<header>
{{!-- <h1>{{title}}</h1>
    <a href="/">weather</a>
    <a href="/about">about</a>
    <a href="/help">help</a> --}}


    			<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title" style="font-size:24px;">WEATHER APPLICATION</h1>
							<small class="site-description">
								<pre>   Climate is what we &nbsp;</pre>
                                                                <p>expect , weather is what we get</p>
							</small>
						</div>
					</a>

					<!-- Default snippet for navigation -->
					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="/">Home</a></li>
							<li class="menu-item"><a href="/404page">More Details</a></li>
							<li class="menu-item"><a href="/about">Get From Map</a></li>
							<li class="menu-item"><a href="/help">Contact</a></li>
						</ul> <!-- .menu -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>

				</div>
			</div> <!-- .site-header -->
</header>
</body>
</html>