body{
    color:#333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    color: #888888;
    margin-top: 16px;
    padding: 16px 0;
    border: 1px solid #eeeeee;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a{
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}
.main-content{
    flex-grow: 1;
}
.potrait{
    width: 250px;
}
input{
    border: 1px solid #cccccc;
    padding: 8px;
}
#btn{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    padding: 8px;
    color: white;
}
#map{
    height:400px;
    width:100%;
  }
  /* #map-layer {
	margin: 20px 0px;
	max-width: 600px;
	min-height: 400;
}
#btnAction {
	background: #3878c7;
    padding: 10px 40px;
    border: #3672bb 1px solid;
    border-radius: 2px;
    color: #FFF;
    font-size: 0.9em;
    cursor:pointer;
    display:block;
}
#btnAction:disabled {
    background: #6c99d2;
} */